*{
  padding: 0;
  margin: 0;
  font-weight: normal;
}
body{
  min-width: 100%;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
}
#nav{
  width: auto;
  height: auto;
  background: #252B3A ;

}

#nav-ul{
  width: 100%;
  margin: 0 100px;
  display: flex;
  flex-flow: row nowrap;
}


.menu{
  display: inline-block;
  width: content-box;
  min-width: 40px;
  font-size: 17px;
  margin-left: 25px;
  color: white;
  padding: 17px 5px 17px 5px;
}

.nav-m{
  color: white;
  text-align: center;
  padding: 15px 0;
}
.menu a + div{
  width: 0;
  height: 0;
  content: '';
  border: 6px solid;
  border-color: white transparent transparent transparent;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: -4px;
}
.nav-m > div:hover:before{
  border-bottom: 3px solid #FF6666;
}
.nav-m:hover {
  border-bottom: 3px solid #FF6666;
}


/*下拉菜单*/
#menu-ex{
  background: #252B3A;
  opacity: 1;
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.info-nav{
  color: white;
  width: 100%;
  height: 100%;
  position: inherit;
  opacity: 0;
}

.tri-up{
  transform: rotateX(180deg);
  transition: transform 0.5s ease-out;
  -moz-transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
}


/*关于华为云*/


#tips{
  width: 20%;
  text-align: center;
  background: darkslateblue;
  color: lightgray;
  padding: 10px 10px;
  margin: 25px 0 0 30px;
  font-size: 15px;
  position: relative;
}
#tips:before{
  width: 0;
  height: 0;
  content: '';
  border: 8px solid;
  border-color: transparent transparent darkslateblue transparent;
  position: absolute;
  top: -15px;
  left: 40%;
}

#nav-1-con{
  width: 100%;
  height: auto;
  margin: 1% 8%;
}
#nav-1-con ul{
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}

.chose{
  width:  270px;
  height: 100px;
  margin: 10px 0;
  cursor: pointer;
  z-index: 10;
}

.chose h5{
  color: gray;
  width: 230px;
  margin-top: 3%;
}

.chose:hover a{
  color: #FF6666;
  transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
}

.chose:hover h5{
  color: white;
  transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
}

/*产品*/

/*该部分3个通用*/
.tips345{
  width: 400px;
  height: 35px;
  position: relative;
  top: 25px;
  left: 185px;
}
.tips345:before{
  width: 0;
  height: 0;
  content: '';
  border: 8px solid;
  border-color: transparent transparent black transparent;
  opacity: 0.5;
  position: absolute;
  top: -45%;
}
#tips-3:before{left: 48%;}

.tips345 > input{
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  color: white;
  border: 0;
  z-index: 90;
  display: inline-block;
  position: absolute;
}

.tips345 > a{
  position: absolute;
  right: 3%;
  top: 20%;
}
.tips345 a:hover{
  color: #FF6666;
}

.nav-345-con{
  width: 100%;
  height: 600px;
  margin: 6% auto;
  display: flex;
  flex-flow: row nowrap;
}

/*左边部分*/
.nav-left{
  width: 15%;
  height: 380px;
  margin: 10px 0 10px 13%;
  display: inline-block;

}
.nav-left ul li{
  width: 100%;
  line-height: 3;
  margin-bottom: 5px;
  height: 50px;

}
.nav-left ul li h4{
  width: fit-content;
  font-weight: normal;
  height: 40px;

}
.nowLoc,
.nav-left ul li:hover h4{
  border-bottom: #FF6666 3px solid;
}


/*右边部分*/
.nav-right{
  height: fit-content;
  margin: 10px 0 0 0;
  display: flex;
  flex-flow: row nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 15px;
}

.right-float{
  height: fit-content;
  float: left;
}


#info-rec {
  display: block;
  width: 70%;
}

.right-float{
  width: 60%;
  height: 500px;

  border-left: 1px solid white;
  border-right: 1px solid white;
}

#info-bse{
  display: none;
  width: 850px;
  column-width: 200px;
  border-left: 1px solid white;
}

.ul-float{
  width: 210px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 0;
  font-size: 12px;
  float: left;


}
.ul-float h3{
  margin: 10px 0 0 50px;
  font-weight: normal;
}
.ul-float li{
  margin: 20px 0 0 50px;


}
.ul-float li > a{
  color: grey;
}
.ul-float li > a:hover{
  color: #FF6666;
}
#message{
  width: 30%;
  height: 50%;
  float: left;
  padding: 10px 0 0 40px;

}
#message ul > li{
  margin: 30px 0;
}

#message ul > li > *{
  color: grey;
  font-weight: normal;
  cursor: pointer;
}

#message ul > h4{
  font-weight: normal;
}
#message > ul > li > h5{
  margin-top: 8px;
}
#message ul > li:hover a{
  color: #FF6666;
}
#message ul > li:hover h5{
  color: white;
}
